{% extends 'base.html.twig' %}

{% block body %}

    <section style="margin-top: 30px">
        <div class="alert alert-danger">
            {{ message }}
        </div>
    </section>

{% endblock %}

{% block javascripts %}

{% endblock %}